/* Login Page Styles */
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
  }
  
  .login-background {
    background-image: url('../../assets/e39553330686dab4e412d2875f165870.jpg'); // Add your background image URL here
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .login-content {
    background: rgba(255, 255, 255, 0.9);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .title {
    font-size: 30px;
    margin-bottom: 20px;
    color: #343a40;
  }
  
  .welcome {
    font-size: 20px;
    margin-bottom: 20px;
    color: #666;
  }
  
  .content-form {
    text-align: left;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    color: #343a40;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .forgot-password {
    margin-top: 10px;
    color: #007bff;
    cursor: pointer;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .text-center p {
    margin-bottom: 10px;
  }
  
  .btn-back-home {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background-color: #28a745;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .btn-back-home:hover {
    background-color: #218838;
  }
  